<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>AUT-NLPIC</title>
    <link rel="icon" type="image/png" href="/static/bot-icon.jpg"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    -->
</head>
<!--Coded With Love By Mutiullah Samim-->

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <img src="{{ url_for('static', filename='aut.png') }}" class="rounded mx-auto d-block" alt="...">
                <!-- <h4>دمو سامانه هوشمند ثبت مشکلات شهری</h4>
                <h4>AUT - NLPIC</h4> -->
            </div>
        </div>

        <div class="row justify-content-center h-100">

            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="{{ url_for('static', filename='bot-icon.jpg') }}" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>سامانه هوشمند 137</span>
                                <!-- <p>1767 Messages</p> -->
                            </div>
                            <!--
								<div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div>
								-->
                        </div>

                        <!--
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
							
							-->


                    </div>
                    <div class="card-body msg_card_body">
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="{{ url_for('static', filename='bot-icon.jpg') }}" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                     سلام وقت به خیر، من ربات هوشمند 137 شهرداری هستم، لطفا مشکل خود را وارد کنید
<br>                                      برای مثال: ترکیدگی لوله آب در فضای سبز
                                <span class="msg_time">8:40 AM, Today</span>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <form id="target">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                </div>

                                <input type="text" value="" class="form-control type_msg" placeholder="Type your message..." id="input_message" />
                                <input type="submit" hidden>

                                <div class="input-group-append">
                                    <button class="input-group-text send_btn" type="submit" form="target"><i class="fas fa-location-arrow"></i></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">مشکل</th>
                            <th scope="col">بخش</th>
                            <th scope="col">آدرس</th>
                            <th scope="col">منطقه</th>
                            <th scope="col">اولویت</th>
                            <th scope="col">تاریخ</th>
                        </tr>
                    </thead>
                    <tbody class="problem-table">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='custom2.js')}}"></script>
</body>

</html>